.history-section {
  padding: 8rem 0;
}

// STYLES FOR MONITOR
.history-section__img-container {
  flex-basis: 45%;
}

.history-section__img {
  display: block;
  width: 100%;
  height: auto;
}

// STYLES FOR ARTICLE
.history-section__article {
  flex-basis: 45%;
}

.history-section__title {
  display: flex;
  font-family: SourceSansProB;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: $grey;
  margin: 0 0 2rem 0;
  &::before {
    display: block;
    content: '';
    width: .3rem;
    background-color: $red;
    margin-right: 1.5rem;
  }
}

.history-section__paragraph {
  font-family: SourceSansProR;
  font-size: 0.875rem;
  &:first-of-type {
    margin-bottom: 2rem;
  }
}
