// BUTTON
.button-block {
  display: flex;
  justify-content: center;
}

.button-block--flex-start {
  justify-content: flex-start;
}

.button-block--mt {
  margin-top: 4.5rem;
}

.button-block--mt-2 {
  margin-top: 2rem;
}

.button-block__button {
  display: block;
  font-family: OpenSansB;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem 3rem;
  outline: 1px solid #fff;
  font-size: 0.875rem;
  &:hover {
    background-color: $dark-red;
    outline: 1px solid $dark-red;
  }
}

.button-block-button--mr {
  margin-right: 2rem;
}

.button-block-button--red {
  background-color: $dark-red;
  outline: none;
}
