$card-title: $grey;
$card-title--hover: $red;
$icon: $pink;
$icon-container: $light-grey;
$icon-container--hover: $pink;
$card-underline: $light-grey;

.card-block {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover > .card-block__title {
    color: $card-title--hover;
  }
  &:hover > .icon-container {
    transform: rotate(45deg);
    outline: 1px solid $icon-container--hover;
  }
  &:hover .icon {
    transform: rotate(-45deg);
  }
}

.icon-container {
  outline: 1px solid $icon-container;
  transition: all .5s linear;
  margin-bottom: 1.5rem;
}

.icon {
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  fill: $icon;
  transition: all .5s linear;
}

.card-block__title {
  font-family: OpenSansS;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: $card-title;
  transition: all .5s linear;
  margin: 0 0 .5rem 0;
}

.card-block__underline {
  width: 2.5rem;
  height: 2px;
  background-color: $card-underline;
  margin: 0 0 .5rem 0;
}

.card-block__paragraph {
  font-family: SourceSansProL;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}
