.container {
  max-width: 74rem;
  min-width: 30rem;
  margin: auto;
}

.container--flex{
  display: flex;
  justify-content: space-between;
}

.container--flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
